name: Java CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Build
        run: ./gradlew build
      - name: Test
        run: ./gradlew test
      - name: Publish
        run: ./gradlew publish
      - name: Archive artifacts (code coverage)
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: build/reports/jacoco-html
      - name: Archive artifacts (API references)
        uses: actions/upload-artifact@v3
        with:
          name: api-references
          path: build/docs/javadoc
      - name: Archive artifacts (maven repo)
        uses: actions/upload-artifact@v3
        with:
          name: maven-repo
          path: maven
